@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 400px;
}
body, input, button {
    font-size: var(--Mhs7de);
    font-family: Arial, sans-serif;
    color: var(--YLNNHc);
}

body {
    background: var(--xhUGwc);
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.left-section, .right-section {
    display:flex;
    gap:1rem;
    justify-content:center;
    align-items:center;
}


.middle-section {
    flex-grow:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1rem 0;
    gap:0.5rem;
    margin-bottom:20rem;
}

.search-form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2.5rem;
}

.search-bar{
    display:flex;
    justify-content:center;
    align-items:center;
    border: 1px solid #dfe1e5;
    gap: 1rem;
    border-radius:30px;
    padding:0.5rem 1.5rem;
    margin-top:-4rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search-form label{
    display:none;
}

.search-form input{
    width:27rem;
    padding:0.5rem;
    border:none;
    outline:none;
}

.search-form button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    color: #3c4043;
    font-family: var(--qR8X0);
    font-optical-sizing: none;
    font-size: var(--hbmnje);
    font-weight: var(--Oycjt);
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.2s ease;
}

.menu {
    width: 2rem;
    height: 2rem;
}

.pfp {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.google-icon {
    width: 15rem;
    height: 15rem;
    margin-bottom:0.5rem;
}

.voice-search,
.search-icon,
.photo-search {
    width: 2rem;
    height: 2rem;
}

a {
    text-decoration: none;
    color:#3c4043;
}
a:hover{
    text-decoration:underline;
}
.search-form button:hover{
    border:none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s ease;
}
.search-bar:hover{
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}